
 .container{
  height: 100px;
  width: 40px;
 
  display: flex;
  justify-content: center;
 align-items: center;
 margin-top: 150px;
}
.box{
  background-color: rgba(96, 6, 6, 0.598);
  height: 50px ;
  width: 180px;
  border-radius: 20%;
 border: 5px solid black;
 padding: 16px;
} 